.shop {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 50px 0 80px;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px 0px;
    justify-items: center;
}

.cart-container {
    background-color: lightblue;
    padding: 10px;
}

@media (max-width: 767.98px) {
    .shop {
        margin: 40px 0;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px 0;
    }

    .book-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px 0;
        order: 2;
    }
    
    .cart-container {
        order: 1;
        background-color: lightblue;
        padding: 10px;
    }
}