.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 50px 0;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px 10px;
    justify-items: center;
}