.select {
    display: flex;
    align-items: center;
}

.select img{
    margin-right: 10px;
    width: 30px;
    height: 50%;
    border-radius: 50%;
}

.select button {
    background-color: transparent;
    border: none;
    font-size: 20px;
}