.book {
    position: relative;
    width: 200px;
    height: 450px;
    border: 1px solid;
    padding: 10px;
}

.book img {
    width: 100%;
}

.cart-btn {
    position: absolute;
    bottom: 10px;
    width: 90%;
    padding: 5px 10px;
}